<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.0" targetFramework="net45" />
  <package id="FluentAssertions" version="4.19.2" targetFramework="net45" />
  <package id="Moq" version="4.7.63" targetFramework="net45" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net45" />
  <package id="TestFx.Core" version="0.7.2" targetFramework="net45" />
  <package id="TestFx.SpecK" version="0.7.2" targetFramework="net45" />
</packages>